
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 16px
}

body {
 background-color: #0f172a;
  font-family: Arial, sans-serif;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}



ul {
  list-style: none;
}

section:not(:last-child) {
  margin-bottom: 20px;
}

.notification.active {
  animation: blink 0.8s infinite;
  color: red;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.5; }
}
