/* primary.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
  width: 10vw;
  height: auto;
  margin-top: 2vh;
}
body {
  background-color: #0f172a;
  font-family: Arial, sans-serif;
  color: #ffffff;
}

.a {
  background-color: #0f1222;
  box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
  height: 15vh;
  width: 100%;
}

.a>nav {
  display: flex;
  align-items: center;
  margin: 0 10px;
}

ul {
  list-style: none;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}



.info{
  display: flex;

}

.card{
  display: flex ;
  flex-direction: column;
  text-align: center;
  width: 200px;
  height: 300PX;
  margin: 0 10px;
  background-color: antiquewhite;
  border-radius: 20px;
  padding: px;
  gap: 10px;
  align-items: center;
}

.card>img{
  width: 100%;
}

.carrousel_avis img {
  width: 120px;
  height: auto;
  object-fit: cover;
  border-radius: 999px;
}

.carrousel_avis  {
  width: 300px;
  flex-shrink: 0;
  color: black;
  display: flex;

  gap: 30px;

}

.carrousel_avis p {
  text-align: center;
}
.info_de_base{
  display: flex;
  flex-direction: row;
    display: flex;
      align-items:center;
      gap: 1Rem;
}



.carrousel_container{

  width: 330px;
  display: flex;
  flex-direction: row;

}
.carrousel_container li {
  flex-shrink: 0;
  width: 330px;
  height: 330px;
  background-color: aliceblue;
  border-radius: 20px;
  padding: 10px;
  color: #0f1222;
  filter: blur(3px);
  z-index: 0;
}

.avis{
  transition: transform 0.5s ease-in-out;
}

.avis_actuelle{
  filter: drop-shadow(0px 6px 32px rgba(0, 0, 0, 0.25)) !important;
  z-index: 5 !important;
}

.carrousel_avis {
  position: relative;
  width: 100%;
  max-width: 1000px;
  /* à ajuster selon ton design */
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carrousel_container {
  display: flex;
  overflow: hidden;
}

.carrousel_avis button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #F5F1E6;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 24px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

#prev {
  left: 0;
}

#next {
  right: 0;
}
